<div id = "offscreen" class = "ignoreme panel fact active" style = "position: absolute; top: 110px; left: -540px; width: 534px; height: auto"></div>
<div class = "header container" id = "header"></div>
<div class = "page" id = "page">
	<div class = "home" id = "home" />
</div>

<script type = 'text/json' id = 'json'>
	{
		"current_user": <%= current_user.to_json %>,
		"users": <%= User.all.to_json %>,
		"topics": <%= Topic.all.to_json %>,
		"facts": <%= Fact.all.to_json %>,
		"tasks": <%= Task.all.to_json %>,
		"scores": <%= Score.all.to_json %>,
		"levels" : <%= Level.all.to_json %>,
		"tiers" : <%= Tier.all.to_json %>,
		"user_tiers" : <%= UserTier.all.to_json %>,
		"edits" : <%= Edit.all.to_json %>,
		"comments" : <%= Comment.all.to_json %>,
		"sources" : <%= Source.all.to_json %>,
		"votes" : <%= Vote.all.to_json %>
	}
</script>

<%= content_for :javascript do -%>
	<script type = 'text/javascript'>
		$(function() {
			var div, data;
			div = $('<div></div>');
			div.html($('#json').text());
			data = JSON.parse(div.text());
		
			Protogap0.init(data);
		});
	</script>
<% end %>